@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* root */

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* custom-library-styles - prefix 'c-' */

.c-scrollbar-hidden {
    &::-webkit-scrollbar {
        display: none;
    }
}
.c-shadow-gray-1 {
    box-shadow: 0 0 4px grey;
}
.c-shadow-blue-1 {
    box-shadow: 0 0 4px blue;
}
.c-shadow-red-1 {
    box-shadow: 0 0 4px red;
}

